<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Actualiar cliente</title>
</head>
<body>

<h1>Actualizar cliente</h1>

<form action = "#" method="POST">

  <div style="display: flex; align-items: space-between;">
    <p>Cedula del cliente a actualizar</p>
    <input type="submit" name = "id" value="cargar datos">
</div>
    <input type="text" name="dato">

  <p>Nombre</p>
    <input type="text" name="nombre">

    <p>Apellido</p>
    <input type="text" name="apellido">

    <p>Telefono</p>
    <input type="text" name="telefono">

    <p>Tipo de documento</p>
    <input type="text" name="tipo_doc">

    <p>Habeas data</p>
    <input type="text" name="hab_data">

    <p>ciudad</p>
    <input type="text" name="ciudad">

    <p>direccion de residencia</p>
    <input type="text" name="direc_res">

    <p>direccion operativa</p>
    <input type="text" name="direc_opr">

    <p>email</p>
    <input type="text" name="email">

    <p>representante legal</p>
    <input type="text" name="repr_legal">

    <p>regimen tributario</p>
    <input type="text" name="reg_trib">


</form>

</body>
</html>