<head>
    <title>Inicio</title>
</head>
<body>
    <h1>Proyecto: Base de Datos</h1>

    <h2>Pagina de inicio</h2>
    <p>Presiona el boton para mostrar todos los clientes:</p>
    <form action = "/clientes/todos" method="GET">
        <p><input type = "submit" value = "Consultar todos"></p>
    </form>

    <p>Presiona el boton para mostrar todos los productos:</p>
        <form action = "/productos/todos" method="GET">
            <p><input type = "submit" value = "Consultar todos"></p>
        </form>

    <p>Presiona el boton para mostrar todos los proveedores:</p>
    <form action = "/proveedores/todos" method="GET">
        <p><input type = "submit" value = "Consultar todos"></p>
    </form>

    <p>Presiona el boton para mostrar todas las ordenes de pedido:</p>
    <form action = "/ordenes/todas" method="GET">
        <p><input type = "submit" value = "Consultar todos"></p>
    </form>

