<head>

<title>Registrar cliente</title>
</head>
<body>

<h1>Formulario parar registrar cliente</h1>
<p>Ingresa los datos del cliente a añadir: </p>
<form action = "#" method="POST">
    <p>cedula del cliente: </p>
    <p><input type = "text" name = "ced"></p>
    <p>Nombre: </p>
    <p><input type = "text" name = "nombre"></p>
    <p>Apellido: </p>
    <p><input type = "text" name = "apellido"></p>
    <p>telefono: </p>
    <p><input type = "text" name = "telefono"></p>
    <p>tipo de documento: </p>
    <p><input type = "text" name = "tip_documento"></p>
    <p>habeas data: </p>
    <p><input type = "text" name = "habeas_data"></p>
    <p>Ciudad: </p>
    <p><input type = "text" name = "ciudad"></p>
    <p>Direccion de residencia: </p>
    <p><input type = "text" name = "dir_res"></p>
    <p>Direccion operativa: </p>
    <p><input type = "text" name = "dir_opr"></p>
    <p>Email: </p>
    <p><input type = "text" name = "email"></p>
    <p>Representante legal: </p>
    <p><input type = "text" name = "repr_legal"></p>
    <p>Regimen tributario: </p>
    <p><input type = "text" name = "reg_trib"></p>
    <p><input type = "submit" value = "submit"></p>
</form>

</body>