<head>

<title>Registrar producto</title>
</head>
<body>

<h1>Formulario parar registrar producto</h1>
<p>Ingresa los datos del producto a añadir: </p>
<form action = "#" method="POST">
    <p>Id del producto (PROD-229 en adelante): </p>
    <p><input type = "text" name = "id_producto"></p>
    <p>Id de la categoria (CAT-001/006): </p>
    <p><input type = "text" name = "id_categoria"></p>
    <p>Nombre: </p>
    <p><input type = "text" name = "nombre"></p>
    <p>Descripcion: </p>
    <p><input type = "text" name = "descripcion"></p>
    <p>Precio: </p>
    <p><input type = "text" name = "precio"></p>
    <p>Estado Producto: </p>
    <p><input type = "text" name = "estado_producto"></p>
    <p>Tarifa impuesto: </p>
    <p><input type = "text" name = "tarifa_impuesto"></p>
    <p>Tipo impuesto: </p>
    <p><input type = "text" name = "tipo_impuesto"></p>
    <p><input type = "submit" value = "submit"></p>
</form>

</body>